div.RDEditor {
	width: calc(var(--scale) * 352px);
	height: calc(var(--scale) * 198px);
	background-color: black;

	&>div {
		position: absolute;
	}
}

.RDView {
	width: calc(var(--column, 8) * var(--scale, 1) * 28px);
	height: calc(var(--row, 4) * var(--scale, 1) * 28px);
	image-rendering: pixelated;
	background-image: url(./assets/grid.png);
	background-size: calc(var(--scale, 1) * 28px);

	&.center {
		display: table;
		margin: 0 auto;
	}

	&.transparent {
		background-image: none;
	}

	&.inline {
		display: inline-block;
	}

	&>.event,
	>.beat,
	>.pulse {
		position: absolute;
		image-rendering: pixelated;
		cursor: pointer;
		filter: hue-rotate(calc(var(--hue, 0) * 1deg)) brightness(calc(var(--brightness, 100) * 1%)) grayscale(calc(var(--grayscale, 0) * 1%));
		transition: transform 0.1s;

		&:hover {
			&>div.description {
				height: calc(var(--line-count, 1) * 40px);
				opacity: 100%;
				transform: translate(-4px, -4px)
			}
		}

		&>div.description {
			width: inherit;
			height: 0;
			background-color: #2B2B2BEE;
			border-radius: 4px;
			border-color: #1B1B1B;
			border-width: 4px;
			border-style: solid;
			opacity: 0%;
			position: absolute;
			overflow: hidden;
			transition: width, height, opacity, 0.15s;
			z-index: 2;
			margin-top: calc(var(--event-height, 1) * var(--scale, 1) * 28px);

			&>div {
				height: 30px;
				margin: 5px;
				padding-left: 5px;
				font-size: 16px;
				font-weight: bold;
				display: inline-block;
				width: calc(var(--text-box-width, 100) * 1%);

				&.left {
					text-align: left;
				}

				&.center {
					text-align: center;
				}

				&.right {
					text-align: right;
				}

				&.text {}

				&.box {
					color: #373737;
					background-color: #C9C9C9;
					border-radius: 4px;
				}
			}
		}

		&:hover {
			z-index: 1;
		}
	}

	&>.event {
		width: calc(var(--event-width, 1) * var(--scale, 1) * 28px);
		height: calc(var(--event-height, 1) * var(--scale, 1) * 28px);
		transform: translate(calc(var(--beat, 0) * var(--scale, 1) * 28px), calc(var(--y, 0) * var(--scale, 1) * 28px));
		background-size: auto calc(var(--scale, 1) * 28px * 8);
		background-position: calc(var(--event-x, 0) * var(--scale, 1) * -28px) calc((var(--event-y, 0) + 4) * var(--scale, 1) * -28px);

		&:active {
			transform: translate(calc(var(--beat, 0) * var(--scale, 1) * 28px), calc((var(--y, 0) * 28 + 2) * var(--scale, 1) * 1px));
			background-position: calc(var(--event-x, 0) * var(--scale, 1) * -28px) calc(var(--event-y, 0) * var(--scale, 1) * -28px);
		}

		&.sounds {
			background-image: var(--img, url(./assets/events/sounds.png));
		}

		&.rooms {
			background-image: var(--img, url(./assets/events/rooms.png));
		}

		&.decorations {
			background-image: var(--img, url(./assets/events/decorations.png));
		}

		&.actions {
			background-image: var(--img, url(./assets/events/actions.png));
		}

		&>div {
			&.condition-true {
				position: absolute;
				width: calc(var(--scale, 1) *12px);
				height: calc(var(--scale, 1) *12px);
				background-size: 100%;
				background-image: url(./assets/condition-true.png);

			}

			&.condition-false {
				position: absolute;
				width: calc(var(--scale, 1) *12px);
				height: calc(var(--scale, 1) *12px);
				background-size: 100%;
				background-image: url(./assets/condition-false.png);

			}

			&.condition-both {
				position: absolute;
				width: calc(var(--scale, 1) *12px);
				height: calc(var(--scale, 1) *12px);
				background-size: 100%;
				background-image: url(./assets/condition-both.png);

			}

			&.tag {
				position: absolute;
				width: calc(var(--scale, 1) *12px);
				height: calc(var(--scale, 1) *12px);
				transform: translate(0, calc(var(--event-height, 1) *28px - 12px));
				background-size: 100%;
				background-image: url(./assets/tag.png);
			}
		}
	}

	&>.beat {
		width: calc(((var(--tick, 1) + var(--delay, 0)) * 28 - 2) * var(--scale, 1) * 1px);
		height: calc(var(--scale, 1) * 28px);
		transform: translate(calc((var(--beat, 0) * 28 + 2) * var(--scale, 1) * 1px), calc(var(--y, 0) * var(--scale, 1) * 28px));
		background-image: url(./assets/beats/beat-middle.png);
		background-size: auto calc(var(--scale) * 28px);

		&::before {
			content: '';
			position: absolute;
			background-image: url(./assets/beats/beat-left.png);
			background-size: auto calc(var(--scale, 1) * 28px);
			transform: translate(calc(var(--scale, 1) * -6px), 0);
			width: calc(var(--scale, 1) *10px);
			height: inherit;
		}

		&::after {
			content: '';
			position: absolute;
			background-image: url(./assets/beats/beat-right.png);
			background-size: auto calc(var(--scale) * 28px);
			transform: translate(calc((var(--tick, 1) + var(--delay, 0)) * 28px - 6px), 0);
			transform: translate(calc(((var(--tick, 1) + var(--delay, 0)) * 28 - 6) * var(--scale, 1) * 1px), 0);
			width: calc(var(--scale, 1) *10px);
			height: inherit;
		}

		&>div {
			&.condition-true {
				position: absolute;
				width: calc(var(--scale, 1) *12px);
				height: calc(var(--scale, 1) *12px);
				transform: translate(calc(var(--scale, 1) * -2px), 0);
				background-size: 100%;
				background-image: url(./assets/condition-true.png);
				z-index: 0;
			}

			&.condition-false {
				position: absolute;
				width: calc(var(--scale, 1) *12px);
				height: calc(var(--scale, 1) *12px);
				transform: translate(calc(var(--scale, 1) * -2px), 0);
				background-size: 100%;
				background-image: url(./assets/condition-false.png);
				z-index: 0;
			}

			&.condition-both {
				position: absolute;
				width: calc(var(--scale, 1) *12px);
				height: calc(var(--scale, 1) *12px);
				transform: translate(calc(var(--scale, 1) * -2px), 0);
				background-size: 100%;
				background-image: url(./assets/condition-both.png);
				z-index: 0;
			}

			&.tag {
				position: absolute;
				width: calc(var(--scale, 1) *12px);
				height: calc(var(--scale, 1) *12px);
				transform: translate(-2px, calc((var(--event-height, 1)* 28 - 12) * var(--scale, 1) * 1px));
				background-size: 100%;
				background-image: url(./assets/tag.png);
				z-index: 0;
			}
		}

		&:hover {
			&::before {
				transform: translate(calc(var(--scale, 1) * -4px), 0);
				width: calc(var(--scale, 1) * 6px);
				background-image: url(./assets/beats/beat-pulse-start.png);
			}

			&>div.subdivision>div::before {
				opacity: 100%;
			}

			&>div.burnshot {
				transform: translate(calc((var(--tick, 1) * 28 - 11) * var(--scale, 1) *1px), calc(var(--scale, 1) * -8px));
				width: calc(var(--scale, 1) * 18px);
				height: calc(var(--scale, 1) * 36px);
				background-size: 100%;
				background-image: url(./assets/beats/burnshot-hover-right.png);

				&::before {
					transform: translate(calc(((var(--tick, 0) + var(--interval)) * -28 + 7) * var(--scale, 1) * 1px), calc(var(--scale, 1) * 19px));
				}

				&::after {
					transform: translate(calc(((var(--interval)) * -28 + 7) * var(--scale, 1) * 1px), calc(var(--scale, 1) * 19px));
				}
			}

			&>div.classybeat>div {
				opacity: 100%;
			}

			&:not(div.classybeat) {
				&::after {
					transform: translate(calc(((var(--tick, 1) + var(--delay, 0)) * 28 - 11) * var(--scale, 1) * 1px), calc(var(--scale, 1) * -8px));
					width: calc(var(--scale, 1) * 18px);
					height: calc(var(--scale, 1) * 36px);
					background-size: 100%;
					z-index: 1;
					background-image: url(./assets/beats/oneshot-hover-right.png);
				}

			}
		}

		&:active {
			transform: translate(calc((var(--beat, 0) * 28 + 2) * var(--scale, 1) * 1px), calc((var(--y, 0) * 28 + 2) * var(--scale, 1) * 1px));
			background-image: url(./assets/beats/beat-hover-middle.png);

			&::before {
				/* transform: translate(calc(var(--scale, 1) * -4px), 0);
				width: 6px; */
				background-image: url(./assets/beats/beat-hover-pulse-start.png);
			}

			&>div.holdbeat {
				background-image: url(./assets/beats/hold-hover-area.png);

				&::after {
					background-image: url(./assets/beats/hold-hover-right.png);
				}
			}
		}

		&>div.burnshot {
			position: absolute;
			background-image: url(./assets/beats/burnshot-right.png);
			background-size: 100%;
			transform: translate(calc((var(--tick, 1) * 28 - 8) * var(--scale, 1) * 1px), 0);
			width: calc(var(--scale, 1) * 14px);
			height: inherit;

			&::before {
				content: '';
				position: absolute;
				width: calc(var(--scale, 1) * 6px);
				height: calc(var(--scale, 1) *6px);
				background-size: auto 100%;
				transform: translate(calc(((var(--tick, 0) + var(--interval)) * -28 + 4) * var(--scale, 1) * 1px), calc(var(--scale, 1) * 11px));
				background-image: url(./assets/beats/cross.png);
			}

			&::after {
				content: '';
				position: absolute;
				width: calc(var(--scale, 1) * 6px);
				height: calc(var(--scale, 1) *6px);
				background-size: auto 100%;
				transform: translate(calc(((var(--interval)) * -28 + 4) * var(--scale, 1) * 1px), calc(var(--scale, 1) * 11px));
				background-image: url(./assets/beats/cross.png);
			}
		}

		&>div.freezeshot {
			position: absolute;
			background-image: url(./assets/beats/freeze-hit.png);
			transform: translate(calc((var(--tick, 1) * 28 - 6) * var(--scale, 1) *1px), 0);
			width: calc(var(--scale, 1) * 10px);
			background-size: 100%;
			height: inherit;

			&::before {
				content: '';
				position: absolute;
				width: calc(var(--scale, 1) * 6px);
				height: calc(var(--scale, 1) *6px);
				background-size: auto 100%;
				transform: translate(calc(((var(--interval)) * -28 + 2) * var(--scale, 1) *1px), calc(var(--scale, 1) *11px));
				background-image: url(./assets/beats/cross.png);
			}

			&::after {
				content: '';
				position: absolute;
				width: calc(var(--scale, 1) * 6px);
				height: calc(var(--scale, 1) *6px);
				background-size: auto 100%;
				transform: translate(calc(((var(--interval) - var(--delay)) * -28 + 2) * var(--scale, 1) *1px), calc(var(--scale, 1) *11px));
				background-image: url(./assets/beats/cross.png);
			}
		}

		&>div.skipshot {
			position: absolute;
			width: calc(((var(--tick, 1) * 2 - var(--delay, 0) - (var(--tick, 1) * ((var(--subdivision, 1) - 1) / var(--subdivision, 1)))) * 28 + 2) * var(--scale, 1) *1px);
			height: inherit;
			background-size: auto 100%;
			background-image: url(./assets/beats/skip-area.png);
			transform: translate(calc(((var(--tick, 1) + var(--delay, 0) + (var(--tick, 1) * ((var(--subdivision, 1) - 1) / var(--subdivision, 1)))) * 28 - 2) * var(--scale, 1) *1px), 0);
			z-index: -2;

			&::after {
				content: '';
				position: absolute;
				width: calc(var(--scale, 1) *10px);
				height: calc(var(--scale, 1) *28px);
				background-size: auto 100%;
				transform: translate(calc(((var(--tick, 1) * 2 - var(--delay, 0) - (var(--tick, 1) * ((var(--subdivision, 1) - 1) / var(--subdivision, 1)))) * 28 - 4) * var(--scale, 1) *1px), 0);
				background-image: url(./assets/beats/skip-right.png);
			}
		}

		&>div.subdivision {
			display: grid;
			grid-template-columns: repeat(calc(var(--subdivision, 1) - 1), auto);
			position: absolute;
			width: calc(((var(--tick, 1) * ((var(--subdivision, 1) - 1) / var(--subdivision, 1))) * 28 + 2) * var(--scale, 1) *1px);
			height: inherit;
			background-size: auto 100%;
			transform: translate(calc(((var(--tick, 1) + var(--delay, 0)) * 28 - 2) * var(--scale, 1) *1px), 0);
			background-image: url(./assets/beats/subdivision-area.png);
			z-index: -1;

			&>div {
				background-image: url(./assets/beats/hit.png);
				width: calc(var(--scale, 1) *10px);
				background-size: auto 100%;
				transform: translate(calc(((var(--tick, 1) * (1 / var(--subdivision, 1))) * 28 - 4) * var(--scale, 1) *1px), 0);
				z-index: 2;

				&::before {
					content: '';
					position: absolute;
					width: calc(var(--scale, 1) *6px);
					height: calc(var(--scale, 1) *28px);
					background-size: auto 100%;
					opacity: 0%;
					transform: translate(calc(((var(--tick, 1) + var(--delay, 0)) * -28 + 2) * var(--scale, 1) *1px), 0);
					background-image: url(./assets/beats/pulse.png);
				}
			}
		}

		&>div.classybeat {
			display: grid;
			grid-template-columns: repeat(6, calc((var(--tick, 1) / 3 - var(--swing, var(--tick, 1) / 6)) * var(--scale, 1) * 28px) calc((var(--swing, var(--tick, 1) / 6)) * var(--scale, 1) * 28px));
			position: absolute;
			width: calc(var(--tick, 1) * 28px);
			height: inherit;

			&>div {
				width: calc(var(--scale, 1) * 6px);
				height: inherit;
				transform: translate(calc(var(--scale, 1) * -4px), 0);
				background-size: auto 100%;
				opacity: 0%;
				background-image: url(./assets/beats/pulse.png);
				z-index: 1;
			}
		}

		&>div.holdbeat {
			position: absolute;
			width: calc(var(--hold, 1) * var(--scale, 1) * 28px);
			height: inherit;
			background-size: auto 100%;
			background-image: url(./assets/beats/hold-area.png);
			transform: translate(calc(((var(--tick, 1) + var(--delay, 0)) * 28 - 2) * var(--scale, 1) * 1px), 0);
			z-index: -2;

			&::after {
				content: '';
				position: absolute;
				width: calc(var(--scale, 1) *2px);
				height: calc(var(--scale, 1) * 28px);
				background-size: auto 100%;
				transform: translate(calc(var(--hold, 1) * var(--scale, 1) * 28px), 0);
				background-image: url(./assets/beats/hold-right.png);
			}
		}
	}

	&>div.pulse {
		width: 6px;
		height: 28px;
		transform: translate(calc(var(--beat, 0) * 28px - 2px), calc(var(--y, 0) * 28px));
		background-image: url(./assets/beats/pulse.png);
		z-index: 1;
	}
}

/* --stroke-width: 描边宽度 */
/* --stroke-color: 描边颜色 */
div.RDView>div.event>div.description>div.text,
.stroke {
	font-weight: 800;
	text-shadow: calc(var(--stroke-width, 2) * 1px) 0 0 var(--stroke-color, black), calc(var(--stroke-width, 2) * -1px) 0 0 var(--stroke-color, black), 0 calc(var(--stroke-width, 2) * 1px) 0 var(--stroke-color, black), 0 calc(var(--stroke-width, 2) * -1px) 0 var(--stroke-color, black);
	width: calc(var(--text-box-width, 30) * 1%);
}